.love{
    height: 740px;
    width: 450px;
    background-color: rgb(237, 233, 233);
    margin-top: 50px;
    margin-left: 46px;
    border: 1px rgb(250, 245, 245);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
  
}
.logo{
    height: 400px;
    width: 450px;
    border: 1px;
    border-radius: 10px;
  
    background-repeat: no-repeat;

    background-image: url(https://imgs.search.brave.com/K1paTzdVAgHXWZXEal2t9m173ea-OnhMIZGvfsPepxk/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9iZWxj/b25pLmNvbS5teS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyNS8x/MC9GbG93ZXJzLWFu/ZC1UZWRkeS1CZWFy/LWNvbWJvLTItMTAy/NHg2ODYuanBn);
}
.my{
    color: black;
  
    font-size: 42px;
   text-align: center;
}
.pera{
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;

}
.last{
    margin: 20px;
}
