.main{
    width: 450px;
    height: 650px;
    background-color: rgb(46, 129, 244);
    border: 1px;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
padding-top: 30px;
}
.logo{
    background-image: url(https://i.pinimg.com/736x/49/9b/59/499b598427d71042d818fbca59673621.jpg);
    width: 120px;
    height: 120px;
    background-size: cover;
    border: 1px;
    border-radius: 60px;
    margin-left: 35%;
    

   
}
.pera1{
    font-size: xx-large;
    color: rgb(100, 244, 247);
    margin-left: 60px;
    margin-right: 40px;
    margin-top: 50px;
   
}
.pera2{
    color: rgb(100, 244, 247);
    font-size: large;
    margin-left: 60px;
    margin-right: 40px;
    line-height: 30px;
    

}
.ul{
     color: rgb(100, 244, 247);
    font-size: large;
    margin-left: 70px;
    margin-right: 40px;
    line-height: 30px;
    